---
import LatvianFlag from "./LatvianFlag.astro";

---

<div>
  <img src="https://cdn.exerra.xyz/png/pfp.png" alt="Exerra's avatar">
  <p>
    Hi, I'm <strong>Exerra</strong>. I'm a full-stack developer from Latvia <LatvianFlag />.
    You can follow me on <a href="https://www.twitter.com/Exerra" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/Exerra" target="_blank">GitHub</a>,
    or read more about me on <a href="https://exerra.xyz" target="_blank">my website</a>.
  </p>
</div>

<iframe src="https://github.com/sponsors/Exerra/button" title="Sponsor Exerra" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }

  iframe {
    width: 100%;
  }
</style>
